<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meadowlark Travel - by Lucas Israel</title>
</head>
<body>
    <header>
      <img src="/img/logo.png" alt="Meadowlark Travel Logo">
    </header>
    {{{body}}}
</body>
</html>